{% extends "base.html" %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}


    <div class="row" id="header">
      <div class="col-xs-8">
        <h1> {{ instance.company_name}}  </h1>
      </div>

    </div>

     <div class="com-sm-2">
        <button type="button" class="btn btn-default"><a href="/company"> Home</a> </button>
     </div>


<div class='col-sm-9 col-sm-offset-3'>



   <table class="table table-hover table-striped ">

        <thead>
        <tr>
          <th>Logo</th>
          <th>Company Children </th>
          <th> Estimated Earnings</th>
          <th> Information </th>

        </tr>
        </thead>
        <tbody>
          <tr>
            {% for obj in company_detail %}
           <td><td><a href='{{ obj.get_absolute_url }}'> {{ obj.company_name }}</a></td></td>
           {% endfor %}
           <td></td>
           <td> {{ instance.company_estimated_earnings }}<br/></td>
           <td>{{ instance.content|linebreaks }}<br/> </td>

          </tr>

        </tbody>







 </table>
</div>
{% endblock content %}